@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Permanent+Marker&display=swap');

:root {
    --primary-color: #39531C;
    --secondary-color: #535252;
    --accent1-color: #202EE9;
    --accent2-color: #e8c722;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Zetta', sans-serif;
    color: var(--secondary-color);
    background-image: linear-gradient(to bottom, #39531C, white);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 250px 1fr 1fr;
    align-items: center;
    font-size: 12px;
    background-color: var(--primary-color);
    color: #e8c722;
    margin-bottom: 20px;
}

header img {
    margin: 20px 10px 20px 35px;
}

h1,
h2 {
    font-family: 'Permanent Marker', sans-serif;
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    font-size: 40px;
}

nav {
    display: flex;
}

nav,
p,
section,
article {
    width: 840px;
    margin: 0 auto;
}

.hero article {
    position: absolute;
    top: 65px;
    margin-top: 75px;
    width: 100%;
    padding: 5px;
    text-align: center;
    opacity: .6;
    background-color: var(--accent2-color);
    color: #000
}

section {
    display: grid;
    position: relative;
    margin-top: 20px;
}
.history {
    max-height: 420px;
    grid-template-columns: 2fr 1fr 2fr;
    margin-bottom: 20px;
    padding: 20px;
}

.history h2 {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.p1 {
    width: 75%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;  
}

.history img {
    width: 100%;
    height: auto;
    align-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.p2 {
    width: 75%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.adventure {
    grid-template-rows: 20% 1fr;
    grid-template-columns: repeat(5, 1fr) ;
    max-height: 280px;
    margin-bottom: 20px;
}

.adventure h2 {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    text-align: center;
    padding: 1px;
}

figure {
    text-align: center;
    grid-row: 2 / 3;
    font-size: 8pt;
    margin-top: 17px;
    margin-bottom: 20px;
}
figure img {
    width: 100px;
    height: 100px;
    justify-content: space-around;
}

.hero article img {
    float: right;
    width: 100px;
}

footer {
    display: flex;
    height: 45px;
    white-space: nowrap;
    margin-left: 10px;
    justify-content: space-around;
    margin-left: auto;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    margin-top: 20px;
    margin-bottom: 20px;
}
footer p {
    font-size: 8pt;
    text-align: left;
    margin-top: 15px;
    margin-left: 150px;
}

.wireframe {
    font-size: 8pt;
    margin-top: 15px;
    margin-left: 4px;
}
.social-media a {
    text-decoration: none;
    margin-left: 10px;
}
.social-media img{
    width: 30px;
    height: auto;
    padding: 3px;
    margin-top: 5px;
}
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.button a {
    background-color: #fff;
    float: left;
    border: 1px solid #000;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    grid-template-columns: auto;
    color: var(--secondary-color);
}

.info {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: repeat(4, 25%);
    padding: 10px;
    background-image: url("../images/hero-po1.jpg");
    background-size: cover;
    width: 100%;
    height: 550px;
}

.info article {
    position: absolute;
    margin-top: 50px;
    width: 100%;
    height: 125px;
    text-align: left;
    opacity: .6;
    background-color: var(--accent2-color);
    color: var(--secondary-color);

}
.info h1 {
    font-size: 25pt;
    font-weight: 600;
    text-align: left;
    margin-top: 0;

}

fieldset {
    border: 0;
    font-size: 11pt;
}
.form {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-size: 10pt;
    text-align: left;
    justify-content: space-between;
    border: 0; 
    margin-left: 60px;
    margin-top: 10px;
}

form textarea {
    font-size: 11pt;
    width: 70%;
    margin: 3px;
    font-family: "Lexend Zetta", sans-serif;
 }

.topic {
    font-weight: 700;
    color: var(--accent2-color);
    font-style: italic;
}
.radio {
    font-size: 10pt;
    margin: 7px;
    color: var(--accent2-color);
}

.checkbox {
    margin-left: 10px;
}

.checkbox label {
    font-size: 10pt;
    margin: 10px;
    color: white;
    font-weight: 600;
}

fieldset button {
    margin-left: 70px;
    margin-top: 10px;
    border: var(--accent2-color);
    font-size: 11pt;
    width: 100px;
    height: 30px;
    font-family: "Lexend Zetta", sans-serif;
    border: 1px solid var(--secondary-color);
    background-color: var(--accent1-color);
    color: #fff;
}

button:hover {
    background-color: var(--accent2-color);
}

.map {
    grid-template-columns: 55% 45%;
    grid-template-rows: repeat(6, 1fr);
    height: 200px;
}

.map iframe {
    grid-column: 1 / 2;
    grid-row: 1 / 7;
    width: 100%;
    height: 100%;
    margin: 10px;
}

.map label {
    grid-column: 2 / 3;
    font-weight: 700;
    margin-left: 20px;
    font-size: 11pt;
}

.map a {
    font-size: 10pt;
    grid-column: 2 / 3;
    margin-left: 20px;
}  

.employees {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25% 1fr;
    margin-top: 30px;
}

.employees h2 {
    grid-column: 1 / 4;
    text-align: center;
    font-size: 25pt;
    text-decoration: underline;
}

.employees figure {
    font-size: 10pt;
    font-weight: 600;
    inline-size: 160px;
    margin-left: 60px;
}
