@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Permanent+Marker&display=swap');

/* main style */
:root {
    --primary-color: #39531C;
    --secondary-color: #535252;
    --accent1-color: #000;
    --accent2-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Zetta', sans-serif;
    color: var(--secondary-color);
    background-image: linear-gradient(to bottom, #39531C, white);
    background-repeat: no-repeat;
}

header,
main,footer {
    width: 100vw;
    height: auto;
    margin: 0 auto;
}

nav,
p,
section,
article {
    width: 100%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Lexend Zetta', sans-serif;
}

                            /* About Us beginning */
/* header style */
header {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    font-size: 12px;
    background-color: rgb(57, 83, 28, .2);
    color: var(--accent2-color);
    margin-bottom: 20px;
    margin-top: 5px;
    height: 8vh;
    width: 100%;
}

header img {
    height: 80px;
    margin: 5px 10px 5px 250px;
}

nav {
    display: grid;
    margin-left: 600px;
}

.button {
    width: 100%;
    justify-content: space-evenly;
    font-size: 12pt;
    display: inline-block;
}

.button a:link, .button a:visited {
    color: var(--accent2-color);
    padding: 8px;
    text-decoration: none;
    display: inline-block;
}

.button a:hover {
    color: var(--accent1-color);
    background-color: var(--accent2-color);
    background-size: cover;
}
*/
/* main section style */
section {
    display: grid;
    position: relative;
    margin-top: 20px;
        font-weight: 100;
    letter-spacing: 3px;
}

/* hero style */
h1 {
    position: absolute;
    top: 70px;
    padding: 16px;
    text-align: left;
    opacity: 0.7;
    color: var(--accent2-color);
    font-size: 30pt;
    font-weight: 100;
    letter-spacing: 3px;
    margin-left: 30px;
    position: absolute;
    margin-top: 30vh;
    width: 700px;
    height: 400px;   

}

.hero {
    background-image: url("../images/hero-po1.jpg");
    background-size: cover;
    width: 1100px;
    height: 550px;
}

.hero img {
    width: 1100px;
    height: 550px;
}

.motto {
    position: absolute;
    top: 65px;
    margin-top: 75px;
    width: 100%;
    padding: 5px;
    text-align: center;
    opacity: .6;
    background-color: var(--accent2-color);
    color: #000

}

/* history section style */
.history {
    max-height: 460px;
    grid-template-columns: 2fr 1fr 2fr;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgb(83, 82, 82, .2);
    
}

/* history style */

h2 {
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-bottom: 20px;
    font-size: 25pt;
    font-weight: 100;
    letter-spacing: 3px;
    text-decoration: underline;

}

.p1 {
    width: 75%;
    grid-column: 1/2;
    grid-row: 2/3;
    font-weight: 300;
}

.history img {
    width: 100%;
    height: auto;
    align-content: center;
    grid-column: 2/3;
    grid-row: 2/3;
}

.p2 {
    width: 75%;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    font-weight: 300;
}

/* advernture section style */
.adventure {
    grid-template-rows: 20% 1fr;
    grid-template-columns: repeat(5, 1fr) ;
    height: 350px;
    margin-bottom: 15px;
    background-color: rgb(83, 82, 82, .2);
}

/* adventure style */
.adventure h2 {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    text-align: center;
    padding: 1px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 100;
    letter-spacing: 3px;
}

figure {
    text-align: center;
    grid-row: 2 / 3;
    font-size: 11pt;
    margin-top: 17px;
    margin-bottom: 20px;
}
figure img {
    width: 170px;
    height: 170px;
    justify-content: space-around;
    margin-top: 10px;
}

figure figcaption {
    width: 170px;
    margin-left: 25px;
    font-weight: 200;
}
.hero article img {
    float: right;
    width: 100px;
}

/* footer section style */
footer {
    display: flex;
    height: 45px;
    white-space: nowrap;
    margin-left: 10px;
    justify-content: space-around;
    margin-left: auto;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

/* footer style */
footer p {
    font-size: 8pt;
    text-align: center;
    margin-top: 15px;
    margin-left: 200px;
}

.wireframe {
    font-size: 8pt;
    margin-top: 15px;
    margin-left: 4px;
}

.wireframe a:link, .wireframe a:visited {
    color: var(--accent2-color);
    font-weight: 300;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}

.social-media img{
    width: 20px;
    height: auto;
}

.hero {
    position: relative;
}

.motto img {
    display: block;
    width: 100%;
    height: auto;
}

                                /* Contact Page beginning */
/* main section style */
.info {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: repeat(5, 20%);
    background-image: url("../images/hero-po1.jpg");
    background-size: cover;
    width: 1100px;
    height: 550px;
}

/*.form-article {
    position: absolute;
    margin-top: 140px;
    width: 100%;
    height: 370px;
    text-align: left;
    opacity: .6;
    background-color: var(--accent2-color);
    color: var(--secondary-color);
}
*/
.info h1 {
    font-size: 25pt;
    font-weight: 300;
    margin-top: 100px;
}

.info fieldset {
    font-size: 11pt;
    font-family: "Lexend Zetta", sans-serif;
    background-color:rgb(83, 82, 82, 0.7);
    margin-top: 130px;
    margin-left: 30px;
    border: 0;
    height: 380px;
    min-width: 0;
    max-width: 70%;
    padding: 10px;
}
.form {
    grid-column: 1 / 2;
    font-size: 10pt;
    justify-content: space-between;
    border: 0; 
    margin-right: 260px;
    padding-left: 10px;
}

.name, .email {
    font-size: 11pt;
    margin: 3px;
    color: var(--accent2-color);
    margin: 10px;
    font-weight: 600;
    margin-left: 35px;
}

.name input {
    width: 63%;
    height: 20px;
}

.email input {
    width: 75.5%;
    height: 20px;
}
form textarea {
    font-size: 11pt;
    width: 86%;
    margin: 3px;
    font-family: "Lexend Zetta", sans-serif;
    margin-left: 35px;
 }

.topic {
    font-weight: 700;
    color: var(--accent2-color);
    margin-left: 35px;
}

.radio {
    font-size: 10pt;
    margin: 7px;
    color: var(--accent2-color);
    margin-left: 20px;
    margin-left: 50px;
}

.checkbox {
    margin-left: 50px;
}

.checkbox label {
    font-size: 10pt;
    margin: 10px;
    color: var(--accent2-color);
    font-weight: 600;
    margin-left: 10px;
}

fieldset button {
    font-size: 11pt;
    width: 100px;
    height: 30px;
    font-family: "Lexend Zetta", sans-serif;
    border: 1px solid var(--secondary-color);
    background-color: var(--accent1-color);
    color: #fff;
    margin-left: 240px;
    margin-top: 15px;
}

button:hover {
    background-color: var(--accent2-color);
}

/* map section style */
.map {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: repeat(6, 1fr);
    background-color:rgb(83, 82, 82, 0.2);
    height: 300px;
    min-width: 0;
    max-width: 100%;
    padding: 10px;
}

/* map style */
.map iframe {
    grid-column: 1 / 2;
    grid-row: 1 / 7;
    width: 100%;
    height: 95%;
    margin: 10px;
}

.map label {
    grid-column: 2 / 3;
    font-weight: 700;
    margin-left: 50px;
    font-size: 11pt;
    text-decoration: none;
    margin-top: 15px;
}

.map a {
    font-size: 10pt;
    grid-column: 2 / 3;
    margin-left: 70px;
}  
.map a:link, .map a:visited {
    color: var(--secondary-color);
    font-weight: 300;
    padding: 8px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}

.map a:hover {
    color: var(--accent1-color);
    background-size: cover;
}

/* employees section style */
.employees {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25% 1fr;
    background-color:rgb(83, 82, 82, 0.2);
    height: 300px;
}

/* employees style */
.employees h2 {
    grid-column: 1 / 4;
    font-size: 25pt;
    text-decoration: underline;
    margin-top: 20px;
}

.employees img {
    width: 120px;
    height: auto;
}

.employees figure figcaption {
    font-size: 11pt;
    font-weight: 300;
    letter-spacing: 0;
    width: 85%;
}
 
                            /* index page beginning */
/* main section style */
.background {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.background img {
    grid-column: 1 / 4;
    width: 100vw;
    height: 65vh;
}
.gradient {
    background-image: linear-gradient(to right, #000, rgb(80, 78, 78, 0));
    grid-column: 1 / 2;
    position: absolute;
    grid-row: 1/2;
    height: 65vh;
}

.activities {
    display: grid;
    height: 50vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    float: left;
}
.hiking img, .camping img, .water-act img {
    width: 20vh;
    height: 20vh;
    grid-row: 1/3;
    grid-column: 1 / 4;
    margin-left: 15vh;
    align-items: center;
    display: block;
}

.hiking figcaption, .camping figcaption, .water-act figcaption {
    font-size: 10pt;
    text-align: center;
    align-content: center;
    display: block; 
    width: 250px;
    height: 18vh; 
    margin-left: 120px;
}

.hiking button, .camping button, .water-act button {
    height: 6vh;
    width: 7vw;
    background-color: rgb(57, 83, 28, .4);
    font-family: "Lexend Zetta", sans-serif;
    font-size: 10pt;
    display: flex;
    margin-left: 180px;
    text-align: center;
    padding-top: 5px;
    align-items: center;
}

.hiking button a:link, .camping button a:link, .water-act button a:link {
    color: var(--accent2-color);
    text-decoration: none;
    display: flex;
}

.hiking button:hover, .camping button:hover, .water-act button:hover {
    color: var(--accent2-color);
    background-color: var(--primary-color);
    background-size: cover;
}

.newsletter {
    background-color: none;
    margin-left: 30px;
    grid-column: 4/5;
    margin-right: 50px;
    margin-top:90px;
    height: 25vh;
    grid-row: 2/3;
    font-family: "Lexend Zetta", sans-serif;
    background-color: rgba(57, 83, 28, .1);
}

.newsletter-field{
    height: 25vh;
    width: 48vh;
    border: none;
}

.newsletter h3 {
    font-size: 17pt;
    color: var(--secondary-color);
    margin-left:5px;
    padding: 10px;
    font-weight: 600;
    text-align: center;
}

.newsletter h4 {
    font-size: 10pt;
    text-align: center;
    font-weight: 300;
    margin: 2px;
}

.index-name, .index-email {
    margin-left:5px;
    margin-top: 5px;
    padding: 5px;
    font-size: 12pt;
    color: white;
    border: none;
    height: 5vh;
}

.index-name textarea, .index-email textarea {
    height: 3vh;
    border: none;
    align-content: center;
}

.news-button {
    width: 300px;
    position: absolute;
    text-align: center;
    margin-left: 85px;
    background-color: rgb(57, 83, 28, .4);
    border:hidden;
    color: var(--secondary-color);
}

.news-button:hover {
    color: var(--secondary-color);
    background-color: rgb(83, 82, 82, .1) ;
    background-size: cover;
}

                            /* trips page beginning */
/* main section style */

